<mat-card appearance="outlined">
    <mat-card-content *ngIf="!isEdit">
        <p>Name: {{boat?.name}} </p>
        <p>Description: {{boat?.description}}</p>
        <div class="button-row">
            <button mat-flat-button color="primary" type="button" class="mt-2" (click)="onBack()">Back</button>
            <button id="edit" mat-flat-button color="primary" type="button" (click)="isEdit = true">Edit</button>  
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="isEdit">
        <form #formRef="ngForm">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput  #name="ngModel" name="name" type="text" [(ngModel)]="boat!.name" required="">
                <mat-error *ngIf="name.invalid && name.touched">
                    <span *ngIf="name.errors?.['required']">Name is required.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <input matInput #description="ngModel" name="desc" type="text" [(ngModel)]="boat!.description" required>
                <mat-error *ngIf="description.invalid && description.touched">
                    <span *ngIf="description.errors?.['required']">Description is required.</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button mat-flat-button color="primary" type="button" class="mt-2" (click)="onCancel(formRef)">Cancel</button>
                <button mat-flat-button color="primary" type="button" (click)="onSave()" [disabled]="description.invalid || name.invalid">Save</button> 
            </div>
        </form>
    </mat-card-content>
</mat-card>