<mat-card appearance="outlined">
    <mat-card-content *ngIf="!isEdit">
        <p>Name: {{boat?.name}} </p>
        <p>Description: {{boat?.description}}</p>
        <button mat-flat-button color="primary" type="button" (click)="isEdit = true">Edit</button>  
    </mat-card-content>
    <mat-card-content *ngIf="isEdit">
        <form>
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput name="name" type="text" [(ngModel)]="boat!.name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <input matInput name="desc" type="text" [(ngModel)]="boat!.description">
            </mat-form-field>
            <button mat-flat-button color="primary" type="button" class="mt-2" (click)="onSave()">save</button> 
        </form>
    </mat-card-content>
</mat-card>