<mat-card appearance="outlined">
    <mat-card-content *ngIf="!isEdit">
        <p>Name: {{boat?.name}} </p>
        <p>Description: {{boat?.description}}</p>
        <div class="button-row">
            <button mat-flat-button color="primary" type="button" class="mt-2" (click)="onBack()">Back</button>
            <button mat-flat-button color="primary" type="button" (click)="isEdit = true">Edit</button>  
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="isEdit">
        <form #formRef="ngForm">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput name="name" type="text" [(ngModel)]="boat!.name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <input matInput name="desc" type="text" [(ngModel)]="boat!.description">
            </mat-form-field>
            <div class="button-row">
                <button mat-flat-button color="primary" type="button" class="mt-2" (click)="onCancel(formRef)">Cancel</button>
                <button mat-flat-button color="primary" type="button" (click)="onSave()">Save</button> 
            </div>
        </form>
    </mat-card-content>
</mat-card>